.reloadButton {

    color: white;
    background-color: rgb(116, 6, 6);
    font-size: 26px;
    padding: 7px 100px;
    cursor: pointer;
    margin-top: 50px;
    display: block;
    transition: all 0.5s linear;
    margin-left: 10px;
    box-shadow: 0px 0px 10px black;
}

.reloadButton:hover {

    transform: scale(1.04);
}